:root { 
    --heading-color:#212121;
    --text-color:#757575;
    --accent-color:#2196F3;
    --primary-bg-color: #fff;
    --secondary-bg-color: #F5F4FA;
    --black-color: #000000;
    --footer-color: #2F303A;
}

.page-header {
    color: var (--black-color: #000000)

}

.site-nav {
    
background: var(--primary-bg-color)
}
.site-nav .link {
    color: var (--black-color: #000000)
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    
}
.links {
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current,
.contacts:hover,
.contacts:focus
 {
    color: var(--accent-color)
}

.contacts { 
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}

.logo { color: var(--accent-color); 
    text-decoration: none;
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.studio-bl { color: var(--black-color) ;}
.studio-wh { color: var(--primary-bg-color);}

/* Footer */
.footer { background: var(--footer-color)}

.footer-address { 
    color: #fff;
    font-style: normal;
}
.footer-contacts {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}
.footer-contacts:hover,
.footer-contacts:focus {
    color: var(--accent-color);
}