
.html {
    box-sizing: border-box;
}
*.
*::before,
*::after {
    box-sizing: inherit;
}
.page-body {
    font-family: -apple-system, Roboto, sans-serif;
    letter-spacing: 0.02em;
    background-color: var(--primary-bg-color);
    margin: 0;
}

a {text-decoration: none;}

.list { list-style: none;
color: var(--text-color) }

/* Hero */
.hero {
    
}
.hero-title { 
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-bg-color);

}
.hero-button { 
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-decoration: none;
}

/* Section */
.section-title { 
    color: var(--heading-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    
}
.section.team { 
    background: var(--secondary-bg-color);}

.hidden {
    display: none;
}

/* Advantages */
.advantage-list .title { 
    color: var(--heading-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase; 
    }
.advantage-list .text { 
    color: var(--text-color);
    font-size: 14px;
    line-height: 1.71;
}

/* Team */

.team-member { 
    color: var(--heading-color);}

/* Buttons */ 
.hero { background: var(--footer-color);}

.hero-button {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    color: var(--primary-bg-color);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.hero-button:hover,
.hero-button:focus {
    background-color: #fff;
    color: #2196F3;
}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    height: 5px;
    background-color: #212121;
}


/* Portfolio */

.portfolio-link {
    display: inline-block;
    padding: 20;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: #212121;
    text-decoration: none;
    background-color: #F5F4FA;;
    
}
.portfolio-link:hover,
.portfolio-link:focus {
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
}

.portfolio-list { 
    list-style: none;
    
}
.works { 
    list-style: none;
    }
.worklist {text-decoration: none;}
.worklist-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
    color: #212121;
}
.worklist-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87px;
    letter-spacing: 0.03em;
    color: var(--heading-color);
}
